nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #bd3e35b7;
  backdrop-filter: saturate(180%) blur(20px);
  width: 100%;
  padding: 15px;
  z-index: 8;
}

.navbar a {
  color: #FFF;
  position: relative;
  font-size: 18px;
  font-family: "Roboto"; /* I need to import this font */
  margin: 8px;
  text-decoration: none;
}

.navbar a:before {
  content: "";
  background-color: #FFF;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: width 0.3s;
}

.navbar a:hover:before {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .navbar {
    position: fixed;
    justify-content: center;
    align-items: flex-end;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 67px;
    transition: height 0.4s;
  }

  .navbar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    margin: 0 15px;
  }

  .navbar a i {
    font-size: 28px;
  }

  .navbar.open {
    height: 100vh;
    align-items: flex-end;
  }
}