body {
  background-color: #636363;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.menu {
  width: 100px;
  height: 100px;
  background-color: #f251468c;
  border-radius: 50%;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 9;
}

.menu:before {
  content: '';
  width: 0;
  height: 0;
  background-color: #bd3e35;
  position: absolute;
  border-radius: 50%;
  transition: all 0.3s;
}

.menu:hover:before {
  width: 100%;
  height: 100%;
}

.menu span {
  width: 50px;
  height: 5px;
  background-color: #FFF;
  border-radius: 25px;
  position: absolute;
  transition: all 0.3s;
}

.menu span:first-child {
  top: 30px;
}

.menu span:last-child {
  bottom: 30px;
}

.menu.open {
  border-radius: 50%;
}

.menu.open:before {
  border-radius: 50%;
}

.menu.open span:first-child {
  transform: rotate(45deg);
  top: 48px;
}

.menu.open span:last-child {
  transform: rotate(-45deg);
  bottom: 48px;
}

.menu.open span:nth-child(2) {
  opacity: 0;
  left: 30%;
}

@media screen and (max-width: 600px) {
  .menu {
    display: flex;
    bottom: 40px;
    right: 15px;
    width: 70px;
    height: 70px;
    transition: all 0.4s, opacity 0.4s;
  }

  .menu span {
    width: 30px;
    height: 4px;
  }
  .menu span:first-child {
    top: 25px;
  }
  .menu span:last-child {
    bottom: 25px;
  }
  .menu.open span:first-child {
    top: 33px;
  }
  .menu.open span:last-child {
    bottom: 33px;
  }
}